.description {
  margin-left: 39%;
  width: 50%;
  padding-top: 7vh;
  animation: moveUp 0.4s ease-out both;
  @include media-q(medium){
    margin-left: 16%;
    width: 73%;
  }

  &__text {
    font-size: 6.5vw;
    line-height: 1.1;
    @include media-q(small){
      font-size: 8vw;
    }
  }
}
