// fonts
$font-default: 'Montserrat', sans-serif;
$font-size: 10px;

// colors
$color-black: #000;
$color-white: #fff;
$color-green: #2a544b;
$color-green-darken: darken($color-green, 10%);
$color-green-light: lighten($color-green, 10%);

